* {
 
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  color: #8C7B61;
  
}


body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  backdrop-filter: blur(5px); 
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




 /* background-image: linear-gradient(225deg, rgba(238, 237, 237, 1) 0%, rgb(250, 249, 246) 39%, rgba(241, 237, 245, 0.96) 68%, rgba(245, 245, 245, 0.84) 100%);
 background-color:#FDF8F0;
 */ 
 
  /* 
  font-family: 'Cormorant Upright', serif;
font-family: 'Italiana', serif;
font-family: 'Marcellus SC', serif;
font-family: 'Mate', serif;
  blur effect to the backdrop */

